body {
    background-color: #000000;
    background-image: url(./pexels-shovan-datta-6420656.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    font-family: Arial, sans-serif;
  }
  
  .container {
    backdrop-filter:blur(10px);
    max-width: 550px;
    margin: 0 auto;
    padding: 60px;
    background-color: rgba(26, 26, 22, 0.551);
    border-radius: 15px;
    box-shadow: 0 4px 8px #0693ff;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0693ff;
    background-color: rgba(26, 26, 22, 0.551);
    border-radius: 5px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px #0693ff;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="tel"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #0693ff;
    color: rgba(26, 26, 22, 0.551);
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgba(26, 26, 22, 0.551);
    border-radius: 15px;
    color: #0693ff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    width: 100%;
    margin-bottom: auto;
    padding: 10px;
    background-color: #0693ff;
    border-radius: 15px;
    color: rgba(26, 26, 22, 0.551);
    cursor: pointer;
  }
  .about-us,
.contact-info {
  max-width: 600px;
 color: #0693ff;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(26, 26, 22, 0.551);
  border: 1px solid #0693ff;
  box-shadow: 0 1.5px 3px #0693ff;
  border-radius: 5px;
  margin-top: 20px;
}

.about-us h2,
.contact-info h3 {
  margin-top: 0;
}

.contact-info p {
  margin-bottom: 0;
}

.contact-info a {
  color: blue;
}

.contact-info img {
  max-width: 200px;
}