{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/about.css'%}">
{% endblock head %}
{% block title%}
    Music Vibe - Devs
{% endblock title%}
{% block content %}
    <div class="creators-container">
        <div class="creators-row">
            <div class="creator-img d-flex align-items-center justify-content-center">
                <div>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                    </span>
                </div>
                <img src="{% static 'img/Members/ali.jpeg' %}" class="loading-image" alt="Ali" title="Ali Anbarlou">
            </div>
            <div class="creator-detail">
                <div class="creator-name">
                    <h3>Ali</h3>
                </div>
                <div class="creator-paragraph">
                    <p><strong>Ali Anbarlou</strong> is an experienced Python developer. Passionate about Linux, networking, Django and AI.</p>
                </div>
                <div class="creator-links">
                    <a href="https://t.me/a_beckett" target="_blank" title="Telegram">Telegram</a>
                    <a href="http://github.com/alianbarlou" target="_blank" title="Github">Github</a>
                    <a href="http://www.linkedin.com/in/alianbarlou/" target="_blank">Linkedin</a>
                </div>
            </div>
        </div>
        <div class="creators-row">
            <div class="creator-img d-flex align-items-center justify-content-center">
                <div>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                    </span>
                </div>
                <img src="{% static 'img/Members/dani.jpg' %}" class="loading-image" alt="Danial" title="Danial">
            </div>
            <div class="creator-detail">
                <div class="creator-name">
                    <h3>Danial</h3>
                </div>
                <div class="creator-paragraph">
                    <p><strong>Danial Zarepour</strong> nicknamed Dani is a front-end programmer and financial sponsor He has completed specialized network courses and has the ability to work with the network as a network administrator, and he is also learning front-end frameworks.</p>
                </div>
                <div class="creator-links">
                    <a href="https://t.me/sky_silent" target="_blank" title="Telegram">Telegram</a>
                    <a href="http://github.com/DanielZarepour" target="_blank" title="Github">Github</a>
                </div>
            </div>
        </div>
        <div class="creators-row">
            <div class="creator-img d-flex align-items-center justify-content-center">
                <div>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                    </span>
                </div>
                <img src="{% static 'img/Members/parsa.jpeg' %}" class="loading-image" alt="Parsa" title="Parsa">
            </div>
            <div class="creator-detail">
                <div class="creator-name">
                    <h3>Parsa</h3>
                </div>
                <div class="creator-paragraph">
                    <p><strong>Parsa Mahmoodi</strong> is a front-end developer specializing in JavaScript. He has been in the field of programming for 1.5 years and is learning React.</p>
                </div>
                <div class="creator-links">
                    <a href="https://t.me/parsa_mh_kh" target="_blank" title="Telegram">Telegram</a>
                    <a href="http://github.com/Parsa-mh" target="_blank" title="Github">Github</a>
                </div>
            </div>
        </div>
        <div class="creators-row">
            <div class="creator-img d-flex align-items-center justify-content-center">
                <div>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                    </span>
                </div>
                <img src="{% static 'img/Members/ebi.jpg' %}" class="loading-image" alt="Ebi" title="Ebi">
            </div>
            <div class="creator-detail">
                <div class="creator-name">
                    <h3>Amir</h3>
                </div>
                <div class="creator-paragraph">
                    <p><strong>Amir Hossein Mohammad Ebrahim Afjeh</strong> is a front-end developer who works with js. He is currently working in the field of UI/UX.Also in the same way, he works on php and Node.js languages ​​in backend field.</p>
                </div>
                <div class="creator-links">
                    <a href="https://t.me/A_Dlllll" target="_blank" title="Telegram">Telegram</a>
                    <a href="http://github.com/AMIRDJ1" target="_blank" title="Github">Github</a>
                </div>
            </div>
        </div>
        <div class="creators-row">
            <div class="creator-img d-flex align-items-center justify-content-center">
                <div>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                    </span>
                </div>
                <img src="{% static 'img/Members/mehrab.jpg' %}" class="loading-image" alt="Mehrab" title="Mehrab">
            </div>
            <div class="creator-detail">
                <div class="creator-name">
                    <h3>Mehrab</h3>
                </div>
                <div class="creator-paragraph">
                    <p><strong>Mehrab Anbarlou</strong> (aka Mehrabios), is a front-end developer and has been working in the field of programming for two years. He loves JavaScript and specializes in sass.</p>
                </div>
                <div class="creator-links">
                    <a href="https://t.me/Mehrabios" target="_blank" title="Telegram">Telegram</a>
                    <a href="http://github.com/Mehrabios" target="_blank" title="Github">Github</a>
                </div> 
            </div>
        </div>
        <div class="creators-row">
            <div class="creator-img d-flex align-items-center justify-content-center">
                <div>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                    </span>
                </div>
                <img src="{% static 'img/Members/mahan.jpg' %}" class="loading-image" alt="Mahan" title="Mahan">
            </div>
            <div class="creator-detail">
                <div class="creator-name">
                    <h3>Mahan</h3>
                </div>
                <div class="creator-paragraph">
                    <p><strong>Mahan Turei</strong> nicknamed fish is a professional programmer and seo expert. He also works as a financial sponsor</p>
                </div>
                <div class="creator-links">
                    <a href="https://t.me/Mahanhastam86" target="_blank" title="Telegram">Telegram</a>
                </div>
            </div>
        </div>
        <div class="creators-row">
            <div class="creator-img d-flex align-items-center justify-content-center">
                <div>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                    </span>
                </div>
                <img src="{% static 'img/Members/kian1.jpg' %}" class="loading-image" alt="Kian" title="Kian">
            </div>
            <div class="creator-detail">
                <div class="creator-name">
                    <h3>Kian</h3>
                </div>
                <div class="creator-paragraph">
                    <p><strong>Kian Homai</strong> is an seo expert. He is also learning Python to work as programmer.</p>
                </div>
                <div class="creator-links">
                    <a href="https://t.me/KAYSEL1" target="_blank" title="Telegram">Telegram</a>
                    <a href="http://github.com/KianHomaii" target="_blank" title="Github">Github</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}